.taken {
    font-weight: bold;
    background-color: #ffaaaa;
    color: red;
    text-align: center;
}

.half {
    font-weight: bold;
    background-color: #eeddaa;
    color: #666600;
    text-align: center;
}

.free {
    font-weight: bold;
    background-color: #aaffaa;
    color: green;
    text-align: center;
}

.darken {
    background-color: #aaa;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    border: thin solid #555;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margins: 0px;
}

div {
    float: left;
}

tr:hover {
    border: thin solid blue;
}